body {
 overflow:auto;
}

.bg-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity:0.2;
	margin:0 auto;
	z-index: -1;
}

.logo {
	position: fixed;
	left: 0;
	bottom: 0;
	width:100%;
	color: white;
	text-align: center;
	background-color:white;
}

.logo-img {
	width:120px;
	margin:0 auto;
}

.clear-right {
	clear:right;
}

.smallinput {
	width: 60px !important;
}

.pointer {
	cursor: pointer;
}

.no-underline {
	text-decoration: none !important;
}

label {
	display:inline-block;
	min-width:100px;
	line-height:1.5em;
	vertical-align:middle;
}

fieldset {
	border:1px solid gray;
}

#sidebar {
	border-left:1px solid #C0c0c0;
	padding-left:10px
}

.afitb {
	display: inline-block;
	width:100px;
	border: 0;
	border-bottom: 2px solid black;
}

.force-center, .align-center {
	text-align: center !important;
}

.align-number {
	text-align: right !important;
}

.row-center td, .row-center th {
	text-align: center !important;
}

.select2-hidden-accessible {
	display: none !important;
}

.total-borders {
	border-top: 1px black solid !important;
	border-bottom: 3px black double !important;
}

.row-center td, .row-center th {
	text-align: center !important;
}

.number-box {
	padding:3px 8px;
	border:1px solid black;
	margin:0 !important;
}

.select2-hidden-accessible {
	display: none !important;
}

.filler-box {
	padding:3px 8px;
	border:1px solid black;
	margin:0 !important;
	background-color:black;
}

.bottom-dotted {
	border-bottom: 1px solid black;
	display:inline-block;
	width:100px;
}

.container-login {
	width:500px;
	margin:0 auto;
	margin-top: 50px;
}

.table-black-border, .table-black-border tr td {
	border-color: black !important;
}

.report-label {
	font-weight: bold;
}

.word .caption {
	font-size: 1.4em;
}